{% extends 'student_template/base_template.html' %}
{% load static %}
{% block page_title %}
Home
{% endblock page_title %}

{% block main_content %}
 
      <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="https://www.shu.ac.uk/-/media/home/study-here/landing-page/students-welcome-hq.jpg"  alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Courses</h5>
                                <h1 class="display-3 text-white animated slideInDown">Study at Sheffield Hallam</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Discover great teaching in an amazing student city.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                            <h5 class="mb-3">Expert Faculty</h5>
                            <p>At Sheffield Hallam University, our expert faculty brings a wealth of industry experience and academic excellence to enhance your learning journey.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5 class="mb-3">Global Learning</h5>
                            <p>Experience world-class education through our global learning initiatives, with access to international resources and opportunities for global collaboration.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-home text-primary mb-4"></i>
                            <h5 class="mb-3">Innovative Projects</h5>
                            <p>Engage in innovative home and community projects that apply your learning to real-world challenges, fostering practical skills and problem-solving abilities.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                            <h5 class="mb-3">Extensive Library</h5>
                            <p>Access a comprehensive library of resources, including books, journals, and digital media, to support your academic research and learning needs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Service End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" alt="Sheffield Hallam University" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Sheffield Hallam University</h6>
                    <p class="mb-4 text-justify">Sheffield Hallam University is one of the UK's largest and most dynamic universities, home to a vibrant community of over 32,000 students, 4,500 staff members, and 295,000 alumni worldwide. We are committed to delivering an exceptional educational experience that transforms lives and careers.</p>
                    <p class="mb-4 text-justify">Our mission is to empower students through innovative teaching, cutting-edge research, and strong industry connections. We strive to provide an inclusive environment that fosters personal and professional growth.</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0 text-justify"><i class="fa fa-arrow-right text-primary me-2"></i>World-Class Faculty</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0 text-justify"><i class="fa fa-arrow-right text-primary me-2"></i>Innovative Learning Methods</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0 text-justify"><i class="fa fa-arrow-right text-primary me-2"></i>Global Recognition</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0 text-justify"><i class="fa fa-arrow-right text-primary me-2"></i>Extensive Industry Connections</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0 text-justify"><i class="fa fa-arrow-right text-primary me-2"></i>Supportive Learning Environment</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0 text-justify"><i class="fa fa-arrow-right text-primary me-2"></i>Research Excellence</p>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'about' %}">Read More</a>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- About End -->


    <!-- Categories Start -->
    <div class="container-xxl py-5 category">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
                <h1 class="mb-5">Courses Categories</h1>
            </div>
            <div class="row g-3">
                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">
                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src= "{% static 'img/cat-1.jpg' %}" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Web Design</h5>
                                    <small class="text-primary">Course</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src= "{% static 'img/cat-2.jpg' %}" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Graphic Design</h5>
                                    <small class="text-primary">Course</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src= "{% static 'img/cat-3.jpg' %}" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Video Editing</h5>
                                    <small class="text-primary">Course</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden" href="">
                        <img class="img-fluid position-absolute w-100 h-100" src= "{% static 'img/cat-4.jpg' %}" alt="" style="object-fit: cover;">
                        <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                            <h5 class="m-0">Online Marketing</h5>
                            <small class="text-primary">Course</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Start -->


    <!-- Courses Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
                <h1 class="mb-5">Popular Courses</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src= "{% static 'img/course-1.jpg' %}" alt="">
                       
                        </div>
                        <div class="text-center p-4 pb-0">
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small>(123)</small>
                            </div>
                            <h5 class="mb-4">Web Design & Development Course for Beginners</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src= "{% static 'img/course-2.jpg' %}" alt="">
                          
                        </div>
                        <div class="text-center p-4 pb-0">
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small>(123)</small>
                            </div>
                            <h5 class="mb-4">Web Design & Development Course for Beginners</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src= "{% static 'img/course-3.jpg' %}" alt="">
                         
                        </div>
                        <div class="text-center p-4 pb-0">
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small>(123)</small>
                            </div>
                            <h5 class="mb-4">Web Design & Development Course for Beginners</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
                <h1 class="mb-5">Expert Instructors</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="https://www.shu.ac.uk/-/media/home/about-us/our-people/inspirational-teaching/dr-david-clegg.jpg?&amp;hash=555D81F0C4F14E6C794D066E781210B2" alt="" style="width:100%">
                        </div>
                      
                        <div class="text-center p-4">
                            <h5 class="mb-0">Dr David Clegg</h5>
                            <small>Computer-aided engineering</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="https://www.shu.ac.uk/-/media/home/about-us/our-people/inspirational-teaching/david-smith.jpg?h=135&amp;w=120&amp;hash=4C82C2F77DBFEAAC3463A5593238BE66" alt="" style="width:100%">
                        </div>

                        <div class="text-center p-4">
                            <h5 class="mb-0">David Smith</h5>
                            <small>Biochemistry</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="https://www.shu.ac.uk/-/media/home/about-us/our-people/inspirational-teaching/tim-williams.jpg?h=135&amp;w=120&amp;hash=F52E19BCFE2C662AB66D64FF35A03F65" alt="" style="width:100%">
                        </div>
                  
                        <div class="text-center p-4">
                            <h5 class="mb-0">Tim Williams</h5>
                            <small>Marketing</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="https://www.shu.ac.uk/-/media/home/about-us/our-people/inspirational-teaching/tamsin-bowers-brown.jpg?h=135&amp;w=120&amp;hash=2CF3CAD1246E1325AAEC1C15A1BB529C" alt="" style="width:100%">
                        </div>
                     
                        <div class="text-center p-4">
                            <h5 class="mb-0">Tamsin Bowers-Brown</h5>
                            <small>Education studies</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
                <h1 class="mb-5">What Our Students Say!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-1.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">John Smith</h5>
                    <p>Computer Science Graduate</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">"Sheffield Hallam University provided me with the skills and knowledge I needed to excel in the tech industry. The practical approach and dedicated faculty made all the difference in my education."</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-2.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Emily Johnson</h5>
                    <p>Marketing Specialist</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">"My experience at Sheffield Hallam University was exceptional. The marketing program was insightful, and the networking opportunities were invaluable for my career growth."</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-3.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Michael Brown</h5>
                    <p>Business Administration</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">"The support and guidance from Sheffield Hallam University helped me navigate the complexities of business management. The hands-on projects and expert faculty made my learning experience memorable."</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-4.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Sarah Davis</h5>
                    <p>Graphic Design</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">"Sheffield Hallam University’s graphic design program gave me a solid foundation in design principles and software skills. The creative environment and industry connections were incredibly beneficial."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Testimonial End --> 
        
    

          

    
{% endblock main_content %}

{% block custom_js %}
<script>

</script>
{% endblock custom_js %}
